*{
    margin: 0px;
    padding: 0px;
}
.clear{
    clear: both;
}
.App {
    
    margin: auto;
    color:black;
}
.togglebtn{
    margin-top: 20px;
    margin-left: 160px;
    margin-bottom: 20px;
    width: 200px;
    font-size: 25px;
    text-align: center;
}